body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    border-style: solid;
    border-width: 2px;
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;    
}

#display {
    display: flex;
    border-style: solid;
    border-width: 1px;
    height: 90px;
}

.content {
    display: flex;
    flex: 1;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 4 ;
    padding: 5px;
}

.numbers button {
    display: flex;
    flex: 1 0 100px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.operators {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    padding: 5px;
}

.operators button {
    display: flex;
    flex: 1 0 auto;
    width: 120px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
